body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#myChart
{
	  
  position:absolute;
 left:10px;
  top:10px;
  display:none;
   z-index:0;
    opacity:1;
background-color: rgba(240,240,240,1);
}
a {
  color: #00B7FF;
}

 .Row
    {
        display: table-row;
    }
.Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }

